## NYC Property Sales Data

### Data Cleaning and Integration

In [44]:
import numpy as np
import pandas as pd

In [45]:
df_bronx = pd.read_excel(r'.\OneDrive\Desktop\Projects\rollingsales_bronx.xlsx')
df_brooklyn = pd.read_excel(r'.\OneDrive\Desktop\Projects\rollingsales_brooklyn.xlsx')
df_manhattan = pd.read_excel(r'.\OneDrive\Desktop\Projects\rollingsales_manhattan.xlsx')
df_queens = pd.read_excel(r'.\OneDrive\Desktop\Projects\rollingsales_queens.xlsx')
df_statenisland = pd.read_excel(r'.\OneDrive\Desktop\Projects\rollingsales_statenisland.xlsx')

In [88]:
df_list = [df_bronx, df_brooklyn, df_manhattan, df_queens, df_statenisland]

In [89]:
for df in df_list:
    print(df.columns)
    print(df.shape)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASEMENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
(6330, 21)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASEMENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
(23002, 21)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASEMENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
(18933, 21)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASEMENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
(25455, 21)
Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASEMENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
(7421, 21)

##### Since all the dataframes have the same number of features, we can merge the datasets into a single dataframe

In [90]:
df = pd.concat(df_list, ignore_index=True)

In [91]:
df.shape

(81141, 21)

In [92]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASEMENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,2905,26,NaN,A9,1667 WASHINGTON AVENUE,NaN,...,1.0,0.0,1.0,4750.0,3167.0,1899.0,1,A9,980000,2022-09-08
1,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3028,24,NaN,A1,410 EAST 179TH STREET,NaN,...,1.0,0.0,1.0,1842.0,2048.0,1901.0,1,A1,655000,2022-11-01
2,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,65,NaN,A1,4455 PARK AVENUE,NaN,...,1.0,0.0,1.0,1622.0,1587.0,1899.0,1,A1,520000,2022-10-26
3,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3030,66,NaN,A1,4453 PARK AVENUE,NaN,...,1.0,0.0,1.0,1646.0,1497.0,1899.0,1,A1,215000,2023-04-18
4,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3035,52,NaN,A1,461 EAST 178 STREET,NaN,...,1.0,0.0,1.0,1782.0,1548.0,1899.0,1,A1,0,2023-04-14

##### Sale Price feature has a lot of rows with 0, since it is a dependent variable, we must drop those rows

In [93]:
count = 0
for price in df['SALE PRICE']:
    if price==0:
        count = count + 1
print(count)

23901

In [94]:
df = df[df['SALE PRICE']>0]

In [95]:
df['SALE PRICE'].info()

<class 'pandas.core.series.Series'>
Int64Index: 57240 entries, 0 to 81140
Series name: SALE PRICE
Non-Null Count  Dtype
--------------  -----
57240 non-null  int64
dtypes: int64(1)
memory usage: 894.4 KB

##### Handling null values

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57240 entries, 0 to 81140
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         57240 non-null  int64
 1   NEIGHBORHOOD                    57240 non-null  object
 2   BUILDING CLASS CATEGORY         57240 non-null  object
 3   TAX CLASS AT PRESENT            57239 non-null  object
 4   BLOCK                           57240 non-null  int64
 5   LOT                             57240 non-null  int64
 6   EASEMENT                        0 non-null      float64
 7   BUILDING CLASS AT PRESENT       57239 non-null  object
 8   ADDRESS                         57240 non-null  object
 9   APARTMENT NUMBER                15758 non-null  object
 10  ZIP CODE                        57234 non-null  float64
 11  RESIDENTIAL UNITS               39784 non-null  float64
 12  COMMERCIAL UNITS                28161 non-null  float64
 13  TOTAL UNITS                     41850 non-null  float64
 14  LAND SQUARE FEET                26095 non-null  float64
 15  GROSS SQUARE FEET               26095 non-null  float64
 16  YEAR BUILT                      53397 non-null  float64
 17  TAX CLASS AT TIME OF SALE       57240 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  57240 non-null  object
 19  SALE PRICE                      57240 non-null  int64
 20  SALE DATE                       57240 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(5), object(7)
memory usage: 9.6+ MB

In [97]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  1
BLOCK                                 0
LOT                                   0
EASEMENT                          57240
BUILDING CLASS AT PRESENT             1
ADDRESS                               0
APARTMENT NUMBER                  41482
ZIP CODE                              6
RESIDENTIAL UNITS                 17456
COMMERCIAL UNITS                  29079
TOTAL UNITS                       15390
LAND SQUARE FEET                  31145
GROSS SQUARE FEET                 31145
YEAR BUILT                         3843
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

##### Filling values for columns with missing values

In [98]:
miss_null = ['TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ZIP CODE', 'YEAR BUILT', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET']

In [99]:
df[miss_null] = df[miss_null].fillna('bfill')

In [100]:
df.isnull().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASEMENT                          57240
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                  41482
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                      0
GROSS SQUARE FEET                     0
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
dtype: int64

##### Dropping entire columns with high number of nulls

In [101]:
high_null = ['EASEMENT', 'APARTMENT NUMBER']

In [102]:
df = df.drop(high_null, axis=1)

In [103]:
df.isnull().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [105]:
df.to_csv('NYC_Property_Sales.csv', index=False)